@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/* No media queries yet, I simply needed to get something done. */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "figtree";
}

/* Will style in figma and import if possible. I know Figma doesn't have Grid. Most CSS styling here is temporary and all images are placeholders. */ 

section.hero {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    min-height: 100vh;
  } 
  
  .hero_bg {
    background-image: url(./Images/hardworkingpersona.png);
    background-size: cover; 
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 100%;
  }
  
  /* The postion of h1 and h2 will be adjusted once the hero-bg image is completed and I know where it would fit best */
  /* .hero h1 {
    font-size: 60px;
    font-weight: bold;
    z-index: 10;
  } */

  .hero h2 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    z-index: 10;
  }
 
  main {
    background-color:#6C8DAD;
  }

  /* Header will be sticky and stay at the top once you scroll past the hero section. */
  header {
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #304D6D;
  }
  
  header figure {
    height: 80px;
    width: 80px;
    padding: 10px;
  }
  
  img.logo {
    height: 100%;
    width: 100%;
  }
  
  nav {
    display: flex;
    gap: 25px;
    font-size: 20px;
  }
  
  nav a {
    color: antiquewhite;
    text-decoration: none;
  }

  /*Temp. margins for all sections to avoid overlap and improve readbility while I style in Figma. */

  section.pitch h2 {
    font-size: 30px;
  }

  section.pitch {
    font-size: 18px;
    line-height: 30px;
  }

  section.pitch article {
    margin-left: 50px;
    padding: 20px;
    font-weight: bold;
    color: #1b3047;
  }

  /* Will align image to the left of the text as shown in figma */
  section.pitch article img {
    height: 200px;
    width: 200px;
  }

  /* Icons get stretched when flexed. Will be resized and flexed side by side in two divs later anyways so leaving it for now */
  section.skills {
    margin: 30px;
    gap: 5px;
    padding: 20px;
  } 
 
  section.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px;
  }

  .project_card {
    height: 300px;
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    margin-left: 15px;
    background-color: #304D6D;
    color: antiquewhite;
  }

  .project_card p {
    font-size: 16px;
    color: antiquewhite;
  }

  footer {
    height: 200px;
    background-color: #545E75;
  }
  
  .footer-details {
    margin-left: 15px;
    color: antiquewhite;
    text-decoration: none;
  }

  .footer-details p {
    padding: 10px;
  }

  .footer-details a {
    color: antiquewhite;
    text-decoration: none;
  }
